body{
    background-color: black;
    font-family: monospace;
}

/*Laptop and Desktop*/
    @media (min-width: 845px){

        .section2title{
            font-size: 30px;
            color: white;
            font-family: monospace;
            margin-top: 20px;
            margin-bottom: 20px;
            position: relative;
            left: 50%;
            transform:translate(-50%);
            width: fit-content;
        }

        .parallax {
            background-image: url("../img/founder1.1.png");
            min-height: 600px; 
            margin-top: 49px;
            opacity: 1;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .parallax2{
            background-image: url("../img/lemontreedekstop2.png");
            min-height: 500px; 
            margin-top: 100px;
            opacity: 1;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
        }

        .start{
            color: white;
            position: absolute;
            font-size: 18px;
            left: 80%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
}
/*End of Desktop*/

/*Mobile Device*/
    @media (max-width: 844px){

        .section2title{
            font-size: 30px;
            color: white;
            font-family: monospace;
            margin-top: 20px;
            margin-bottom: 20px;
            position: relative;
            left: 50%;
            transform:translate(-50%);
            width: fit-content;
            text-align: center;
        }

        .parallax {
            background-image: url("../img/founder.png");
            min-height: 600px; 
            margin-top: 49px;
            opacity: .25;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .parallax2{
            background-image: url("../img/lemontreedekstop.png");
            min-height: 400px; 
            margin-top: 100px;
            opacity: 1;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
        }

        .start{
            color: white;
            position: absolute;
            font-size: 18px;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -60%);
            text-align: center;
        }
}
/*End of Mobile*/

footer{
    color: white;
    position: relative;
    bottom: 0px;
    left: 50%;
    width: fit-content;
    padding: 10px 10px 10px 10px;
    transform: translate(-50%);
    font-size: 12px;
    border-top: 3px solid white;
}

a:link{
    color: #B2AC88;
}

a:visited{
    color: #B2AC88;
}

a:hover{
    color: black;
}

a:active{
    color: #B2AC88;
}